<div class="container">
  <app-menu></app-menu>

  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{error}}
  </div>
  <div *ngIf="message" class="  alert alert-success" role="alert">
    {{message}}
  </div>

  <form *ngIf="loaded" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="inputFIO">ФИО</label>
      <input formControlName="fio" type="text" class="form-control" id="inputFIO" placeholder="ФИО">
    </div>
    <div class="form-group">
      <label for="inputPhone">Телефон</label>
      <input formControlName="phone" type="text" class="form-control" id="inputPhone" placeholder="Телефон">
    </div>
    <div class="form-group">
      <label for="inputComment">Комментарий</label>
      <input formControlName="comment" type="text" class="form-control" id="inputComment" placeholder="Комментарий">
    </div>
    <div class="form-group form-check">
      <input formControlName="selected" type="checkbox" class="form-check-input" id="inputSelected"
             placeholder="Комментарий">
      <label for="inputSelected">Выделенный</label>
    </div>
    <div *ngIf="user?.addDate" class="form-group">
      <div class="alert alert-dark" role="alert">
        Дата добавления - {{user.addDate | date}}
      </div>
    </div>
    <button type="submit" class="btn btn-light mr-1" (click)="back()">Назад</button>
    <button type="submit" class="btn btn-primary"
            [disabled]="!form.valid || form.pristine">{{user?.id ? 'Обновить' : 'Сохранить'}}</button>
  </form>
</div>
